.cabecalho
{

    height: 100px;

}

.visor
{

    height: 120px;

    background-color: rgb(224, 221, 221);
    color: black;
    text-align: right;
    font-size: 80px;
}

.butao
{

    height: 120px;
    font-size: 80px;
}

.numericos
{

    margin-left: 7.5%;
    

}


.margin-btn
{

    margin-right: 2.5%;

}

.margin-btnf
{
    
    
    margin-right: 7.5%;

}